@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
