@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.input {
  font-size: 1.5rem;
  padding: 0.5em 1.7rem;
  border-radius: 1.2em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

.btn {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.7rem 1.7rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 1.3em;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 750px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}
